{% extends 'layout-admin.twig' %}

{% block content %}
<div class="main__content">
    <section class="main__section">
        <h2 class="main__section-title">Добавить дисциплину</h2>
        <form class="main__second-form" method="post">
            <input class="main__input" type="text" placeholder="Наименование" name="name">
            <div class="main__button-wrapper">
                <button class="main__form-button" type="submit">Добавить</button>
            </div>
        </form>
    </section>
</div>
{% endblock %}