{% extends 'layout-user.twig' %}

{% block content %}
<div class="main__content">
	<section class="main__section">
		<h2 class="main__section-title"></h2>
		<div class="main__user-editor" id="editor"></div>
	</section>
</div>
{% endblock %}