{% extends 'layout-user.twig' %}

{% block content %}
	<div class="main__wrapper">
		<div class="main__stub">
			<picture>
				<source media="(min-width:768px)" srcset="./image/content/stub__desktop.jpg">
				<img class="main__stub-image" src="./image/content/stub__mobile.jpg" alt="Выберите раздел">
			</picture>
		</div>
	</div>
{% endblock %}
