{% extends 'layout-authentication.twig' %}

{% block content %}
	<main class="reg">
		<h1 class="visually-hidden">Регистрация</h1>
		<div class="reg__wrapper">
			<form class="reg__form" method="post">
				<p class="reg__form-group">
					<input class="reg__input reg__input--surname" type="text" placeholder="Введеите фамилию" name="surname">
					<span class="reg__input-error"></span>
				</p>
				<p class="reg__form-group">
					<input class="reg__input reg__input--name" type="text" placeholder="Введеите имя" name="name">
					<span class="reg__input-error"></span>
				</p>
				<p class="reg__form-group">
					<input class="reg__input reg__input--patronymic" type="text" placeholder="Введеите отчество" name="patronymic">
					<span class="reg__input-error"></span>
				</p>
				<p class="reg__form-group">
					<input class="reg__input reg__input--login" type="text" placeholder="Введите логин" name="login">
					<span class="reg__input-error"></span>
				</p>
				<p class="reg__form-group">
					<select class="selectpicker select select-reg" data-width="300px" data-live-search="true" data-size="5" title="Группа" name="group">
						{% for group in groups %}
							<option value="{{group.Id}}">{{group.Name}}</option>
						{% endfor %}
					</select>
					<span class="reg__input-error"></span>
				</p>
				<p class="reg__form-group">
					<input class="reg__input reg__input--password" type="password" placeholder="Введеите пароль" name="password">
					<span class="reg__input-error"></span>
				</p>
				<p class="reg__form-group">
					<input class="reg__input reg__input--confirm" type="password" placeholder="Подвердите пароль" name="confirm">
					<span class="reg__input-error"></span>
				</p>
				<button class="reg__submit" type="submit">Создать аккаунт</button>
				<a class="reg__link reg__link--underline" href="auth.php">Отмена</a>
			</form>
		</div>
	</main>
	<script src="js/bootstrap-select/jquery.min.js"></script>
	<script src="js/bootstrap-select/bootstrap.bundle.min.js"></script>
	<script src="js/bootstrap-select/bootstrap-select.min.js"></script>
	<script src="js/reg.js"></script>
{% endblock %}
